<div class="tabview" style="width: 300px;">
    <div class="tabview-top-bar">
        <div class="tabview-buttons">
            <h2>Word Count</h2>
        </div>
        <div class="tabview-close-button">
            <button id="tabview-close-button">✖</button>
        </div>
    </div>
    <div class="tabview-tabs">
        <div class="tabview-tab" id="tabview-wordcount-tab">
            <div class="wordcount">
                <p><strong>Characters:</strong> <span id="characters"></span></p>
                <p><strong>Words:</strong> <span id="words"></span></p>
            </div>
        </div>
    </div>
</div>